In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
df = pd.DataFrame(
    {
        "a" : [4 ,5, 6],
        "b" : [7, 8, 9], 
        "c" : [10, 11, 12]
    },
    index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [5]:
# append data frame
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
print("=====df====")
print (df)
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
print("=====df2====")
print(df2)
print("=====append====")
out = df.append(df2)
print(out)

=====df====
   A  B
0  1  2
1  3  4
=====df2====
   A  B
0  5  6
1  7  8
=====append====
   A  B
0  1  2
1  3  4
0  5  6
1  7  8

In [6]:
out = df.append(df2, ignore_index = True)
out

   A  B
0  1  2
1  3  4
2  5  6
3  7  8

In [7]:
df = pd.DataFrame(
    {
        "a" : [4 ,5, 6],
        "b" : [7, 8, 9], 
        "c" : [10, 11, 12]
    },
    index = ["X", "Y", "Z"])
df

   a  b   c
X  4  7  10
Y  5  8  11
Z  6  9  12

In [8]:
df.loc["X"]

a     4
b     7
c    10
Name: X, dtype: int64

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[-1]

In [ ]:
df[1:3]

In [ ]:
df.tail(2)

In [ ]:
df.head(2)