In [4]:
import pandas as pd
from io import StringIO
import urllib
import numpy as np
from matplotlib import pyplot as plt
from matplotlib import ticker as ticker
from mpl_finance import candlestick_ohlc
import matplotlib.dates as mdates
import requests

In [5]:
# read url content with key
# TODO change to http://122.8.148.106
url = 'http://122.8.148.106/api/v1/data/candlestick/000/1032887/?symbol=PTT&timeframe=D&startTime=2018-03-01&endTime=2018-08-18'
headers = {'X-API-KEY': '907E0507067041318FBD5248250E4EF1'}
response = requests.get(url, headers=headers)
data = response.text

df = pd.read_csv(StringIO(data), names=['time', 'open', 'high', 'low', 'close', 'volume', 'oi'], parse_dates=True)
df

                    time   open   high    low  close     volume  oi
0    2018-03-02 00:00:00  56.00  56.40  55.20  55.60   20865800   0
1    2018-03-05 00:00:00  56.00  56.40  55.00  56.20   16926700   0
2    2018-03-06 00:00:00  55.60  56.00  55.20  55.20   12232300   0
3    2018-03-07 00:00:00  55.00  55.00  54.00  54.00   16100700   0
4    2018-03-08 00:00:00  54.40  54.60  53.20  53.20   20496900   0
5    2018-03-09 00:00:00  53.40  53.40  52.20  53.40   18381500   0
6    2018-03-12 00:00:00  54.40  55.80  54.20  55.80   14925000   0
7    2018-03-13 00:00:00  55.40  56.60  55.20  56.60   14205500   0
8    2018-03-14 00:00:00  56.40  56.60  55.40  56.00   13239300   0
9    2018-03-15 00:00:00  56.00  56.40  55.60  55.80    7800200   0
10   2018-03-16 00:00:00  55.40  55.60  54.60  54.80   16047200   0
11   2018-03-19 00:00:00  54.60  54.60  53.60  53.60   13299300   0
12   2018-03-20 00:00:00  53.60  54.80  53.40  54.20   10707600   0
13   2018-03-21 00:00:00  54.60  54.80  54.00  54.20    8464900   0
14   2018-03-22 00:00:00  54.60  55.40  54.20  54.40   10513900   0
15   2018-03-23 00:00:00  53.40  55.00  53.40  55.00   12714600   0
16   2018-03-26 00:00:00  55.20  56.00  55.20  56.00   10248700   0
17   2018-03-27 00:00:00  56.20  56.40  55.80  56.00    8378800   0
18   2018-03-28 00:00:00  55.80  57.00  55.60  56.00   16014200   0
19   2018-03-29 00:00:00  56.00  56.00  54.20  54.80   22032000   0
20   2018-03-30 00:00:00  55.00  55.60  54.40  55.20   12908600   0
21   2018-04-02 00:00:00  55.00  55.40  54.80  55.20    5795200   0
22   2018-04-03 00:00:00  54.60  55.00  54.20  54.60    8167700   0
23   2018-04-04 00:00:00  54.60  54.80  53.20  53.20   15990500   0
24   2018-04-05 00:00:00  53.80  54.20  53.40  54.20    8340800   0
25   2018-04-09 00:00:00  53.80  55.40  53.80  55.00    9780600   0
26   2018-04-10 00:00:00  55.40  55.60  54.80  55.20    8570600   0
27   2018-04-11 00:00:00  55.60  55.60  54.20  54.60   11558200   0
28   2018-04-12 00:00:00  55.00  55.40  54.40  55.00   11004100   0
29   2018-04-17 00:00:00  55.00  55.20  54.60  54.60    8640100   0
..                   ...    ...    ...    ...    ...        ...  ..
83   2018-07-04 00:00:00  47.50  47.75  47.00  47.75   58381700   0
84   2018-07-05 00:00:00  47.50  47.75  46.25  46.25   77335700   0
85   2018-07-06 00:00:00  46.25  46.50  44.25  46.25  157614000   0
86   2018-07-09 00:00:00  47.00  47.25  46.50  47.00   51029600   0
87   2018-07-10 00:00:00  47.00  48.75  46.50  48.75   84328400   0
88   2018-07-11 00:00:00  48.00  48.75  47.75  48.50   74055100   0
89   2018-07-12 00:00:00  48.00  48.50  47.75  48.00   54379100   0
90   2018-07-13 00:00:00  48.00  48.25  47.50  47.50   36081100   0
91   2018-07-16 00:00:00  47.25  48.00  47.25  47.50   29481300   0
92   2018-07-17 00:00:00  47.50  48.25  47.25  47.75   58694800   0
93   2018-07-18 00:00:00  48.50  49.75  48.25  49.50   96638300   0
94   2018-07-19 00:00:00  49.75  50.00  49.00  49.50   53977500   0
95   2018-07-20 00:00:00  49.50  51.50  49.25  51.50  117827700   0
96   2018-07-23 00:00:00  51.25  51.50  50.75  51.00   45791600   0
97   2018-07-24 00:00:00  51.25  51.75  50.25  50.25   63252200   0
98   2018-07-25 00:00:00  50.25  51.50  50.25  51.00   56717600   0
99   2018-07-26 00:00:00  51.50  51.75  50.75  51.75   68520700   0
100  2018-07-31 00:00:00  51.50  51.75  50.75  51.25   84223400   0
101  2018-08-01 00:00:00  51.25  52.75  50.75  52.50  115565400   0
102  2018-08-02 07:00:00  52.00  52.50  51.50  52.00   77496200   0
103  2018-08-03 07:00:00  51.75  52.25  51.50  51.75   41694700   0
104  2018-08-06 07:00:00  52.00  52.25  51.25  51.50   39754800   0
105  2018-08-07 07:00:00  51.75  52.50  51.25  52.25   58994400   0
106  2018-08-08 07:00:00  52.25  53.00  52.25  53.00   82988200   0
107  2018-08-09 07:00:00  52.50  53.00  52.50  52.50   50597000   0
108  2018-08-10 07:00:00  52.25  52.75  51.75  51.75   47011600   0
109  2018-08-14 07:00:00  51.50  52.00  51.00  51.75   58340400   0
110  2018-08-15 07:00:00  51.50  51.75  50.75  51.00   52610500   0
111  2018-08-16 07:00:00  50.50  50.75  49.50  50.50   95573700   0
112  2018-08-17 07:00:00  51.00  52.00  51.00  51.50   70988500   0

[113 rows x 7 columns]

In [6]:
df['time'] = pd.to_datetime(df['time'])
df["time"] = df["time"].apply(mdates.date2num)
df

              time   open   high    low  close     volume  oi
0    736755.000000  56.00  56.40  55.20  55.60   20865800   0
1    736758.000000  56.00  56.40  55.00  56.20   16926700   0
2    736759.000000  55.60  56.00  55.20  55.20   12232300   0
3    736760.000000  55.00  55.00  54.00  54.00   16100700   0
4    736761.000000  54.40  54.60  53.20  53.20   20496900   0
5    736762.000000  53.40  53.40  52.20  53.40   18381500   0
6    736765.000000  54.40  55.80  54.20  55.80   14925000   0
7    736766.000000  55.40  56.60  55.20  56.60   14205500   0
8    736767.000000  56.40  56.60  55.40  56.00   13239300   0
9    736768.000000  56.00  56.40  55.60  55.80    7800200   0
10   736769.000000  55.40  55.60  54.60  54.80   16047200   0
11   736772.000000  54.60  54.60  53.60  53.60   13299300   0
12   736773.000000  53.60  54.80  53.40  54.20   10707600   0
13   736774.000000  54.60  54.80  54.00  54.20    8464900   0
14   736775.000000  54.60  55.40  54.20  54.40   10513900   0
15   736776.000000  53.40  55.00  53.40  55.00   12714600   0
16   736779.000000  55.20  56.00  55.20  56.00   10248700   0
17   736780.000000  56.20  56.40  55.80  56.00    8378800   0
18   736781.000000  55.80  57.00  55.60  56.00   16014200   0
19   736782.000000  56.00  56.00  54.20  54.80   22032000   0
20   736783.000000  55.00  55.60  54.40  55.20   12908600   0
21   736786.000000  55.00  55.40  54.80  55.20    5795200   0
22   736787.000000  54.60  55.00  54.20  54.60    8167700   0
23   736788.000000  54.60  54.80  53.20  53.20   15990500   0
24   736789.000000  53.80  54.20  53.40  54.20    8340800   0
25   736793.000000  53.80  55.40  53.80  55.00    9780600   0
26   736794.000000  55.40  55.60  54.80  55.20    8570600   0
27   736795.000000  55.60  55.60  54.20  54.60   11558200   0
28   736796.000000  55.00  55.40  54.40  55.00   11004100   0
29   736801.000000  55.00  55.20  54.60  54.60    8640100   0
..             ...    ...    ...    ...    ...        ...  ..
83   736879.000000  47.50  47.75  47.00  47.75   58381700   0
84   736880.000000  47.50  47.75  46.25  46.25   77335700   0
85   736881.000000  46.25  46.50  44.25  46.25  157614000   0
86   736884.000000  47.00  47.25  46.50  47.00   51029600   0
87   736885.000000  47.00  48.75  46.50  48.75   84328400   0
88   736886.000000  48.00  48.75  47.75  48.50   74055100   0
89   736887.000000  48.00  48.50  47.75  48.00   54379100   0
90   736888.000000  48.00  48.25  47.50  47.50   36081100   0
91   736891.000000  47.25  48.00  47.25  47.50   29481300   0
92   736892.000000  47.50  48.25  47.25  47.75   58694800   0
93   736893.000000  48.50  49.75  48.25  49.50   96638300   0
94   736894.000000  49.75  50.00  49.00  49.50   53977500   0
95   736895.000000  49.50  51.50  49.25  51.50  117827700   0
96   736898.000000  51.25  51.50  50.75  51.00   45791600   0
97   736899.000000  51.25  51.75  50.25  50.25   63252200   0
98   736900.000000  50.25  51.50  50.25  51.00   56717600   0
99   736901.000000  51.50  51.75  50.75  51.75   68520700   0
100  736906.000000  51.50  51.75  50.75  51.25   84223400   0
101  736907.000000  51.25  52.75  50.75  52.50  115565400   0
102  736908.291667  52.00  52.50  51.50  52.00   77496200   0
103  736909.291667  51.75  52.25  51.50  51.75   41694700   0
104  736912.291667  52.00  52.25  51.25  51.50   39754800   0
105  736913.291667  51.75  52.50  51.25  52.25   58994400   0
106  736914.291667  52.25  53.00  52.25  53.00   82988200   0
107  736915.291667  52.50  53.00  52.50  52.50   50597000   0
108  736916.291667  52.25  52.75  51.75  51.75   47011600   0
109  736920.291667  51.50  52.00  51.00  51.75   58340400   0
110  736921.291667  51.50  51.75  50.75  51.00   52610500   0
111  736922.291667  50.50  50.75  49.50  50.50   95573700   0
112  736923.291667  51.00  52.00  51.00  51.50   70988500   0

[113 rows x 7 columns]

In [ ]:
f1, ax = plt.subplots(figsize = (10,5))

# plot the candlesticks
candlestick_ohlc(ax, df.values, width=.6, colorup='green', colordown='red')
ax.xaxis.set_major_formatter(mdates.DateFormatter('%Y-%m-%d'))
ax.xaxis.set_major_locator(ticker.MaxNLocator(6))

f1.autofmt_xdate()
f1.tight_layout()

plt.show()